$serif: Georgia, Times, serif;
$grey: #a2a9b1;
$red: #d33;
$white: #fff;

/* || UTILITIES */

@mixin button-reset {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

%border {
  border: 1px solid $grey;
  border-radius: 2px;
}

/* || GENERAL STYLES */

body {
  background-color: #f6f6f6;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

code {
  white-space: pre;
}

h1,
h2,
h3,
h4,
h5,
h6,
%heading {
  font-family: $serif;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
  border-bottom: 1px solid $grey;
  font-size: 1.8rem;
  margin-top: 0;
  padding-top: 0;
}

h2 {
  border-bottom: 1px solid $grey;
  font-size: 1.313rem;
  margin-top: 1.313rem;
}

h3 {
  font-size: 1.05rem;
}

a {
  color: #0645ad;

  &:visited {
    color: #0b0080;
  }
}

p {
  margin-bottom: 0.5rem;
}

ul {
  margin-left: 1.4rem;
  padding: 0;

  p {
    margin: 0;
  }
}

/* || SITEWIDE */

header {
  background-color: #fbfbfb;
  background-image: linear-gradient(to bottom, $white 50%, #f6f6f6 100%);
  height: 5rem;
}

.logo {
  @extend %heading;
  font-size: 1.5rem;
  font-variant: small-caps;
  margin-bottom: 1rem;
  text-align: center;
}

.main {
  background-color: $white;
  border: 1px solid #a7d7f9;
  border-right: hidden;
  font-size: 0.875rem;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
}

.sidebar {
  background-color: #f6f6f6;
  font-size: 0.75rem;
  height: 100vh;
  padding: 16px 20px;
  max-width: 11.25rem;
  min-width: 10.5rem;
}

.searchbox {
  font-size: 0.8125rem;
  position: relative;
}

.searchinput {
  @extend %border;
  line-height: 15px;
  margin: 3rem 1rem auto auto;
  max-width: 20em;
  min-width: 5em;
  padding: 0.325rem;
  width: 20vw;
}

.searchbutton {
  @include button-reset;
  margin: 3rem 1rem 0 0;
  padding: 0.1625rem 0.5rem 0.325rem;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-search {
  color: #545454;
}

/* || HOMEPAGE */

.jumbotron {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 0;
  padding: 0.35rem;
}

.banner {
  font-size: 0.831rem;
  margin-bottom: 0;
  text-align: center;
  width: 19.25rem;

  .welcome {
    font-size: 1.406rem;
  }
}

/* || FORMS, BUTTONS AND SEARCH */

.titleinput {
  @extend h1;
  border-left: none;
  border-right: none;
  border-top: none;
  width: 100%;
}

.textarea {
  @extend %border;
  font-family: monospace;
  font-size: 0.813rem;
  height: 90vh;
  margin: 0.5rem auto 0.875rem;
  width: 100%;
}

.button {
  @include button-reset;
  border-radius: 2px;
  color: $white;
  font-size: 0.875rem;
  font-weight: 700;
  min-height: 2.25rem;
  padding: 5px 12px;
  vertical-align: top;
}

.button-blue {
  background-color: #36c;
  border: 1px solid #36c;

  &:hover {
    background-color: #447ff5;
    border-color: #447ff5;
  }

  &:active {
    background-color: #2a4b8d;
    border-color: #2a4b8d;
    box-shadow: none;
    color: $white;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px #36c, inset 0 0 0 2px $white;
    outline: 1px solid transparent;
  }
}

.button-cancel {
  color: $red;

  a {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: #ff4242;
  }

  &:active {
    color: #b32424;
  }

  &:focus {
    color: #b32424;
  }
}

.searchbar {
  .search {
    @extend %border;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: hidden;
    min-height: 2.25rem;
    padding: 0.313rem 0.5rem;
    position: relative;
    width: 100%;
  }

  .button,
  .button:hover,
  .button:active,
  .button:focus {
    border-radius: 0 2px 2px 0;
    position: absolute;
  }
}

.searchresults {
  li {
    list-style: none;
    margin: 0.438rem 0.438rem 0.438rem 0;
  }
}

/* || ERROR MESSAGES */

.err {
  color: $red;
  font-size: 1.125rem;
  order: -1;
}

.errorlist {
  color: $red;
  font-weight: 700;
  list-style: none;
  margin-left: 0;

  li::before {
    content: "Error: ";
  }
}
