{% extends "encyclopedia/layout.html" %} 

{% block title %} Create New Page {% endblock %} 

{% block body %}
  <h1>Create new page</h1>
  <h2>Instructions</h2>
  <ol>
    <li>
      Enter the content of your article in the blank area below. You may use
      <a
        href="https://help.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax"
        >Markdown</a
      >
      syntax to format your article.
    </li>
    <li>
      Please do <strong>not</strong> plagiarize. Do <strong>not</strong> copy and
      paste content from another website.
    </li>
    <li>
      When you are finished writing, click the "Publish page" button. You are all
      done! Your submission is appreciated.
    </li>
  </ol>
  <form action="{% url 'wiki:create' %}" method="post" autocomplete="off">
    {% csrf_token %} {{ form }}
    <button class="button button-blue" type="submit">Publish page</button>
    <button class="button button-cancel" type="button">
      <a href="{% url 'wiki:index' %}">Cancel</a>
    </button>
  </form>
{% endblock %}
