{% extends "encyclopedia/layout.html" %} 

{% block title %} Encyclopedia {% endblock %} 

{% block body %}
    <div class="jumbotron">
        <p class="banner">
            <span class="welcome d-block">Welcome to Wiki,</span>
            <span class="d-block">the free encyclopedia that anyone can edit.</span>
            <span class="articlecount d-block">{{ total }} articles in total</span>
        </p>
    </div>
    <h1>All pages</h1>
    <ul>
        {% for entry in entries %}
        <li><a href="{% url 'wiki:entry' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
