{% extends "encyclopedia/layout.html" %}
 
{% block title %} {% if isValidQuery %} {{ query }} - Search results {% else %} Search {% endif %}{% endblock %}

{% block body %}
  {% if not isValidQuery %}
  <h1>Search</h1>
  {{ form }}
  <button class="btn" type="submit">Submit</button>
  {% else %}
  <h1>Search results</h1> 
  <ul class="search-results">
    {% for result in results %}
    <li><a href="{% url 'encyclopedia:entry' result %}">{{ result }}</a></li>
    {% empty %}
    <li class="err"><em>The page "{{ query }}" does not exist. How about creating one yourself?</em></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}