{% extends "encyclopedia/layout.html" %}
 
{% block title %} {% if isValidQuery %} {{ query }} - Search results {% else %} Search {% endif %} {% endblock %}

{% block body %}
  {% if not isValidQuery %}
  <h1>Search</h1>
  <div class="w-50">
    <form class="searchbar" action="{% url 'wiki:search' %}" method="get" autocomplete="off">
      {{ form }}<button class="button button-blue" name="search" type="submit">Submit</button>
    </form>
  </div>
  {% else %}
  <h1>Search results</h1>
  <div class="w-50">
    <form class="searchbar" action="{% url 'wiki:search' %}" method="get" autocomplete="off">
      {{ form }}<button class="button button-blue" name="search" type="submit">Submit</button>
    </form>
  </div>
  <ul class="searchresults d-flex flex-column m-0">
    <li>
      <em
        >The page "{{ query }}" does not exist. How about creating one
        yourself?</em
      >
    </li>
    {% for result in results %}
    <li><a href="{% url 'wiki:entry' result %}">{{ result }}</a></li>
    {% empty %}
    <li class="err">No results found for {{ query }}.</li>
    {% endfor %}
  </ul>
  {% endif %} 
{% endblock %}
