{% extends "encyclopedia/layout.html" %}
 
{% block title %} {% if isValidQuery %} {{ query }} - Search results {% else %} Search {% endif %}{% endblock %}

{% block body %}
  {% if not isValidQuery %}
  <h1>Search</h1>
  <form action="{% url 'encyclopedia:search' %}" method="get" autocomplete="off">
    {{ form }}<button class="btn" name="search" type="submit">Submit</button>
  </form>
  {% else %}
  <h1>Search results</h1> 
  <form action="{% url 'encyclopedia:search' %}" method="get" autocomplete="off">
    {{ form }}<button class="btn" name="search" type="submit">Submit</button>
  </form>
  <ul class="search-results">
    <li><em>The page "{{ query }}" does not exist. How about creating one yourself?</em></li>
    {% for result in results %}
    <li><a href="{% url 'encyclopedia:entry' result %}">{{ result }}</a></li>
    {% empty %}
    <li class="err">No results found for {{ query }}.</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}